[Server]
Ip   = {{ aiwacs_server_ip }}
Port = {{ aiwacs_server_port }}
Company = {{ aiwacs_token }}

[Path]
AgentPath={{ aiwacs_win_dir }}\AiWACSagent.exe
UpdatePath={{ aiwacs_win_dir }}\AiWACSAgent.update
BackupPath={{ aiwacs_win_dir }}\backup
PidFilePath={{ aiwacs_win_dir }}\AiWACSAgent.pid
LogFilePath={{ aiwacs_win_dir }}\log
LogFileName=AiWACSAgent.log
AgentFilename=AiWACSagent.exe

[Update]
UseUpdate=1

[Log]
Level=3
MaxFileSize=10485760
MaxFiles=5

